
.root {
    -fx-font-size: 16pt;
    -fx-font-family: "Verdana";
    -fx-color: #03BCF2;
    -fx-background-color: #242424;
}

.page-header {
    -fx-font-size: 20pt;
    -fx-font-family: "Verdana";
    -fx-font-weight: 300;
    -fx-fill: #FFFFFF;
}

/****************************************************************************
 * Sensors
 ****************************************************************************/
.sensor {
    -fx-min-width: 120px;
    -fx-min-height: 120px;
    -fx-max-width: 120px;
    -fx-max-height: 120px;
    -fx-background-color: #343434;
    -fx-border-radius: 5 5 5 5;
    -fx-border-color: #454545;
    -fx-border-width: 1px;
}

.sensor-top {
    -fx-font-size: 12px;
    -fx-font-family: "Verdana";
    -fx-fill: rgb(255,255,255);
    -fx-alignment: center;
    -fx-pref-width: 120px;
    -fx-pref-height: 25px;
    -fx-max-width: 120px;
    -fx-padding: 5 0 0 0;
}

.sensor-center {
    -fx-font-size: 40px;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-fill: #9B4F96;
    -fx-fit-to-height: true;
    -fx-min-width: 120px;
    -fx-max-width: 120px;
    -fx-min-height: 60px;
    -fx-max-height: 60px;
}

.sensor-bottom {
    -fx-font-size: 18px;
    -fx-font-family: "Verdana";
    -fx-fill: rgb(255,255,255);
    -fx-alignment: bottom-right;
    -fx-padding: 0 5 0 5;
    -fx-pref-width: 120px;
    -fx-pref-height: 25px;
    -fx-max-width: 120px;
}

/****************************************************************************
 * Light Switches
 ****************************************************************************/
.lamp {
    -fx-min-width: 120px;
    -fx-min-height: 120px;
    -fx-max-width: 120px;
    -fx-max-height: 120px;
    -fx-background-color: #343434;
    -fx-border-radius: 5 5 5 5;
    -fx-border-color: #454545;
    -fx-border-width: 1px;
    -fx-background-radius: 5 5 5 5;
}

.lamp-off {
    -fx-background-color: #343434;
}

.lamp-on {
    -fx-background-color: #01AAD5;
}

.lamp-title {
    -fx-font-size: 12px;
    -fx-font-family: "Verdana";
    -fx-fill: rgb(255,255,255);
    -fx-alignment: center;
    -fx-min-width: 120px;
    -fx-min-height: 25px;
    -fx-max-width: 120px;
    -fx-padding: 5 0 0 0;
    -fx-border-color: #454545;
    -fx-border-width: 1px;
}

.lamp-icon {
    -fx-min-height: 90px;
    -fx-min-width: 120px;
    -fx-max-width: 120px;
    -fx-alignment: center;
    -fx-border-color: #454545;
    -fx-border-width: 1px;
}

.lamp-icon-on {
    -fx-shape: "M12.75,25.498h5.5v-5.164h-5.5V25.498zM15.5,28.166c1.894,0,2.483-1.027,2.667-1.666h-5.334C13.017,27.139,13.606,28.166,15.5,28.166zM15.5,2.833c-3.866,0-7,3.134-7,7c0,3.859,3.945,4.937,4.223,9.499h1.271c-0.009-0.025-0.024-0.049-0.029-0.078L11.965,8.256c-0.043-0.245,0.099-0.485,0.335-0.563c0.237-0.078,0.494,0.026,0.605,0.25l0.553,1.106l0.553-1.106c0.084-0.17,0.257-0.277,0.446-0.277c0.189,0,0.362,0.107,0.446,0.277l0.553,1.106l0.553-1.106c0.084-0.17,0.257-0.277,0.448-0.277c0.189,0,0.36,0.107,0.446,0.277l0.554,1.106l0.553-1.106c0.111-0.224,0.368-0.329,0.604-0.25s0.377,0.318,0.333,0.563l-1.999,10.998c-0.005,0.029-0.02,0.053-0.029,0.078h1.356c0.278-4.562,4.224-5.639,4.224-9.499C22.5,5.968,19.366,2.833,15.5,2.833zM17.458,10.666c-0.191,0-0.364-0.107-0.446-0.275l-0.554-1.106l-0.553,1.106c-0.086,0.168-0.257,0.275-0.446,0.275c-0.191,0-0.364-0.107-0.449-0.275l-0.553-1.106l-0.553,1.106c-0.084,0.168-0.257,0.275-0.446,0.275c-0.012,0-0.025,0-0.037-0.001l1.454,8.001h1.167l1.454-8.001C17.482,10.666,17.47,10.666,17.458,10.666z";
    -fx-scale-shape: false;
    -fx-scale-x: 250%;
    -fx-scale-y: 220%;
    -fx-min-height: 80px;
    -fx-min-width: 120px;
    -fx-background-color: #FFFFFF;
}

.lamp-icon-off {
    -fx-shape: "M15.5,2.833c-3.866,0-7,3.134-7,7c0,3.859,3.945,4.937,4.223,9.499h5.553c0.278-4.562,4.224-5.639,4.224-9.499C22.5,5.968,19.366,2.833,15.5,2.833zM15.5,28.166c1.894,0,2.483-1.027,2.667-1.666h-5.334C13.017,27.139,13.606,28.166,15.5,28.166zM12.75,25.498h5.5v-5.164h-5.5V25.498z";
    -fx-scale-shape: false;
    -fx-scale-x: 250%;
    -fx-scale-y: 220%;
    -fx-min-height: 80px;
    -fx-min-width: 120px;
    -fx-background-color: #FFFFFF;
}

/****************************************************************************
 * Contact Switches
 ****************************************************************************/
.switch {
    -fx-min-width: 120px;
    -fx-min-height: 120px;
    -fx-max-width: 120px;
    -fx-max-height: 120px;
    -fx-background-color: #343434;
    -fx-border-radius: 5 5 5 5;
    -fx-border-color: #454545;
    -fx-border-width: 1px;
    -fx-background-radius: 5 5 5 5;
}

.switch-off {
    -fx-background-color: #343434;
}

.switch-on {
    -fx-background-color: #01AAD5;
}

.switch-title {
    -fx-font-size: 12px;
    -fx-font-family: "Verdana";
    -fx-fill: rgb(255,255,255);
    -fx-alignment: center;
    -fx-min-width: 120px;
    -fx-min-height: 25px;
    -fx-max-width: 120px;
    -fx-padding: 5 0 0 0;
    -fx-border-color: #454545;
    -fx-border-width: 1px;
}

.switch-icon {
    -fx-min-height: 90px;
    -fx-min-width: 120px;
    -fx-max-width: 120px;
    -fx-alignment: center;
    -fx-border-color: #454545;
    -fx-border-width: 1px;
}

.switch-icon-on {
    -fx-shape: "M26.33,15.836l-3.893-1.545l3.136-7.9c0.28-0.705-0.064-1.505-0.771-1.785c-0.707-0.28-1.506,0.065-1.785,0.771l-3.136,7.9l-4.88-1.937l3.135-7.9c0.281-0.706-0.064-1.506-0.77-1.786c-0.706-0.279-1.506,0.065-1.785,0.771l-3.136,7.9L8.554,8.781l-1.614,4.066l2.15,0.854l-2.537,6.391c-0.61,1.54,0.143,3.283,1.683,3.895l1.626,0.646L8.985,26.84c-0.407,1.025,0.095,2.188,1.122,2.596l0.93,0.369c1.026,0.408,2.188-0.095,2.596-1.121l0.877-2.207l1.858,0.737c1.54,0.611,3.284-0.142,3.896-1.682l2.535-6.391l1.918,0.761L26.33,15.836z";
    -fx-scale-shape: false;
    -fx-scale-x: 220%;
    -fx-scale-y: 200%;
    -fx-min-height: 80px;
    -fx-min-width: 120px;
    -fx-background-color: #FFFFFF;
}

.switch-icon-off {
    -fx-shape: "M26.33,15.836l-3.893-1.545l3.136-7.9c0.28-0.705-0.064-1.505-0.771-1.785c-0.707-0.28-1.506,0.065-1.785,0.771l-3.136,7.9l-4.88-1.937l3.135-7.9c0.281-0.706-0.064-1.506-0.77-1.786c-0.706-0.279-1.506,0.065-1.785,0.771l-3.136,7.9L8.554,8.781l-1.614,4.066l2.15,0.854l-2.537,6.391c-0.61,1.54,0.143,3.283,1.683,3.895l1.626,0.646L8.985,26.84c-0.407,1.025,0.095,2.188,1.122,2.596l0.93,0.369c1.026,0.408,2.188-0.095,2.596-1.121l0.877-2.207l1.858,0.737c1.54,0.611,3.284-0.142,3.896-1.682l2.535-6.391l1.918,0.761L26.33,15.836z";
    -fx-scale-shape: false;
    -fx-scale-x: 220%;
    -fx-scale-y: 200%;
    -fx-min-height: 80px;
    -fx-min-width: 120px;
    -fx-background-color: #FFFFFF;
}

.gear {
    -fx-shape: "M31.229,17.736c0.064-0.571,0.104-1.148,0.104-1.736s-0.04-1.166-0.104-1.737l-4.377-1.557c-0.218-0.716-0.504-1.401-0.851-2.05l1.993-4.192c-0.725-0.91-1.549-1.734-2.458-2.459l-4.193,1.994c-0.647-0.347-1.334-0.632-2.049-0.849l-1.558-4.378C17.165,0.708,16.588,0.667,16,0.667s-1.166,0.041-1.737,0.105L12.707,5.15c-0.716,0.217-1.401,0.502-2.05,0.849L6.464,4.005C5.554,4.73,4.73,5.554,4.005,6.464l1.994,4.192c-0.347,0.648-0.632,1.334-0.849,2.05l-4.378,1.557C0.708,14.834,0.667,15.412,0.667,16s0.041,1.165,0.105,1.736l4.378,1.558c0.217,0.715,0.502,1.401,0.849,2.049l-1.994,4.193c0.725,0.909,1.549,1.733,2.459,2.458l4.192-1.993c0.648,0.347,1.334,0.633,2.05,0.851l1.557,4.377c0.571,0.064,1.148,0.104,1.737,0.104c0.588,0,1.165-0.04,1.736-0.104l1.558-4.377c0.715-0.218,1.399-0.504,2.049-0.851l4.193,1.993c0.909-0.725,1.733-1.549,2.458-2.458l-1.993-4.193c0.347-0.647,0.633-1.334,0.851-2.049L31.229,17.736zM16,20.871c-2.69,0-4.872-2.182-4.872-4.871c0-2.69,2.182-4.872,4.872-4.872c2.689,0,4.871,2.182,4.871,4.872C20.871,18.689,18.689,20.871,16,20.871z";
}

.gear2 {
    -fx-shape: "M16.015,12.03c-2.156,0-3.903,1.747-3.903,3.903c0,2.155,1.747,3.903,3.903,3.903c0.494,0,0.962-0.102,1.397-0.27l0.836,1.285l1.359-0.885l-0.831-1.276c0.705-0.706,1.142-1.681,1.142-2.757C19.918,13.777,18.171,12.03,16.015,12.03zM16,1.466C7.973,1.466,1.466,7.973,1.466,16c0,8.027,6.507,14.534,14.534,14.534c8.027,0,14.534-6.507,14.534-14.534C30.534,7.973,24.027,1.466,16,1.466zM26.174,20.809c-0.241,0.504-0.513,0.99-0.826,1.45L22.19,21.58c-0.481,0.526-1.029,0.994-1.634,1.385l0.119,3.202c-0.507,0.23-1.028,0.421-1.569,0.57l-1.955-2.514c-0.372,0.051-0.75,0.086-1.136,0.086c-0.356,0-0.706-0.029-1.051-0.074l-1.945,2.5c-0.541-0.151-1.065-0.342-1.57-0.569l0.117-3.146c-0.634-0.398-1.208-0.88-1.712-1.427L6.78,22.251c-0.313-0.456-0.583-0.944-0.826-1.448l2.088-2.309c-0.226-0.703-0.354-1.451-0.385-2.223l-2.768-1.464c0.055-0.563,0.165-1.107,0.301-1.643l3.084-0.427c0.29-0.702,0.675-1.352,1.135-1.942L8.227,7.894c0.399-0.389,0.83-0.744,1.283-1.07l2.663,1.672c0.65-0.337,1.349-0.593,2.085-0.75l0.968-3.001c0.278-0.021,0.555-0.042,0.837-0.042c0.282,0,0.56,0.022,0.837,0.042l0.976,3.028c0.72,0.163,1.401,0.416,2.036,0.75l2.704-1.697c0.455,0.326,0.887,0.681,1.285,1.07l-1.216,2.986c0.428,0.564,0.793,1.181,1.068,1.845l3.185,0.441c0.135,0.535,0.247,1.081,0.302,1.643l-2.867,1.516c-0.034,0.726-0.15,1.43-0.355,2.1L26.174,20.809z";
}

.gears {
    -fx-shape: "M17.41,20.395l-0.778-2.723c0.228-0.2,0.442-0.414,0.644-0.643l2.721,0.778c0.287-0.418,0.534-0.862,0.755-1.323l-2.025-1.96c0.097-0.288,0.181-0.581,0.241-0.883l2.729-0.684c0.02-0.252,0.039-0.505,0.039-0.763s-0.02-0.51-0.039-0.762l-2.729-0.684c-0.061-0.302-0.145-0.595-0.241-0.883l2.026-1.96c-0.222-0.46-0.469-0.905-0.756-1.323l-2.721,0.777c-0.201-0.228-0.416-0.442-0.644-0.643l0.778-2.722c-0.418-0.286-0.863-0.534-1.324-0.755l-1.96,2.026c-0.287-0.097-0.581-0.18-0.883-0.241l-0.683-2.73c-0.253-0.019-0.505-0.039-0.763-0.039s-0.51,0.02-0.762,0.039l-0.684,2.73c-0.302,0.061-0.595,0.144-0.883,0.241l-1.96-2.026C7.048,3.463,6.604,3.71,6.186,3.997l0.778,2.722C6.736,6.919,6.521,7.134,6.321,7.361L3.599,6.583C3.312,7.001,3.065,7.446,2.844,7.907l2.026,1.96c-0.096,0.288-0.18,0.581-0.241,0.883l-2.73,0.684c-0.019,0.252-0.039,0.505-0.039,0.762s0.02,0.51,0.039,0.763l2.73,0.684c0.061,0.302,0.145,0.595,0.241,0.883l-2.026,1.96c0.221,0.46,0.468,0.905,0.755,1.323l2.722-0.778c0.2,0.229,0.415,0.442,0.643,0.643l-0.778,2.723c0.418,0.286,0.863,0.533,1.323,0.755l1.96-2.026c0.288,0.097,0.581,0.181,0.883,0.241l0.684,2.729c0.252,0.02,0.505,0.039,0.763,0.039s0.51-0.02,0.763-0.039l0.683-2.729c0.302-0.061,0.596-0.145,0.883-0.241l1.96,2.026C16.547,20.928,16.992,20.681,17.41,20.395zM11.798,15.594c-1.877,0-3.399-1.522-3.399-3.399s1.522-3.398,3.399-3.398s3.398,1.521,3.398,3.398S13.675,15.594,11.798,15.594zM27.29,22.699c0.019-0.547-0.06-1.104-0.23-1.654l1.244-1.773c-0.188-0.35-0.4-0.682-0.641-0.984l-2.122,0.445c-0.428-0.364-0.915-0.648-1.436-0.851l-0.611-2.079c-0.386-0.068-0.777-0.105-1.173-0.106l-0.974,1.936c-0.279,0.054-0.558,0.128-0.832,0.233c-0.257,0.098-0.497,0.22-0.727,0.353L17.782,17.4c-0.297,0.262-0.568,0.545-0.813,0.852l0.907,1.968c-0.259,0.495-0.437,1.028-0.519,1.585l-1.891,1.06c0.019,0.388,0.076,0.776,0.164,1.165l2.104,0.519c0.231,0.524,0.541,0.993,0.916,1.393l-0.352,2.138c0.32,0.23,0.66,0.428,1.013,0.6l1.715-1.32c0.536,0.141,1.097,0.195,1.662,0.15l1.452,1.607c0.2-0.057,0.399-0.118,0.596-0.193c0.175-0.066,0.34-0.144,0.505-0.223l0.037-2.165c0.455-0.339,0.843-0.747,1.152-1.206l2.161-0.134c0.152-0.359,0.279-0.732,0.368-1.115L27.29,22.699zM23.127,24.706c-1.201,0.458-2.545-0.144-3.004-1.345s0.143-2.546,1.344-3.005c1.201-0.458,2.547,0.144,3.006,1.345C24.931,22.902,24.328,24.247,23.127,24.706z";
}

#itemPanel {
    -fx-padding: 10 0 0 0;
}
#sensorPanel {
    -fx-padding: 5 5 5 0;
    -fx-min-width: 260px;
    -fx-max-width: 260px;
}

#switchPanel {
    -fx-padding: 5 0 5 5;
}

#headerPane {
    -fx-padding: 10 5 10 5;
    -fx-background-color: #191919;
}

#bottomPane {
    -fx-padding: 5 5 5 5;
    -fx-background-color: #191919;
    -fx-alignment: center-right;
}

#mainPane {
}

.header-text {
    -fx-font-size: 18px;
    -fx-font-family: "Verdana";
    -fx-fill: rgb(255,255,255);
    -fx-font-smoothing-type: lcd;
    -fx-indent: 50%;
}

.header-button {
    -fx-background-color: #242424;
    -fx-text-fill: #AAAAAA;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.axis Text{
    -fx-fill: white;
    -fx-font-size: 12px;
}

.tick-mark {
    -fx-font-size: 10px;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1 );
}